#home img.logo {
	width: 100%;
	max-width: 480px;
	display: block;
	margin: 0 auto;
}

#home .ui-controlgroup {
	width: 90%;
	margin: 0 auto;
}

.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
background-color: purple /*{a-bup-background-color}*/;
border-color: #820f13 /*{a-bup-border}*/;
color: #ffffff /*{a-bup-color}*/;
text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #444444 /*{a-bup-shadow-color}*/;
}